@import "../../../assets/styles/global.scss";
@import "../../../assets/styles/variables.scss";
@import "../../../assets/styles/mixins/global.scss";

.tab-container {
  @include flex-column(center, center);
  width: 90%;
  .tabs {
    border-radius: 36px;
    background-color: rgba(202, 215, 226, 0.4);
    padding: 8px;
    @include size(100%, 100%);
    @include flex-center;
    li {
      @include size(100%, 40px);
      @include flex-center;
      border-radius: 36px;
      color: $blue;
      cursor: pointer;
      position: relative;
      z-index: 100;
    }
    .active {
      color: $cream-white;
      border-radius: 36px;
    }
  }
  .outlet {
    width: 100%;
    padding: 20px 0;
  }
}

.active::before {
  content: "";
  @include size(100%, 100%);
  background-color: $blue;
  border-radius: 36px;
  position: absolute;
  z-index: -10;
}

@keyframes slidein {
  0% {
    opacity: 0;
    left: 100%;
    right: 0%;
  }

  100% {
    opacity: 1;
    left: 0%;
    right: 100%;
  }
}

@keyframes reverseSlidein {
  0% {
    opacity: 0;
    left: -100%;
    right: 0%;
  }

  100% {
    opacity: 1;
    left: 0%;
    right: 100%;
  }
}
