@import url("https://fonts.googleapis.com/css2?family=Poiret+One&family=Raleway:wght@300;400;500;600&display=swap");

//FONTS
$titles-font: "Poiret One", cursive;
$body-font: "Raleway", sans-serif;

//COLORS
$blue: #7698b3;
$light-blue: #cad7e2;
$cream-white: #fbfbf2;
$text-black: #192127;
